* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
}
body {
  background-color: #e2f0f8;
}
.wrapper {
  width: 85vw;
  min-height: 50vmin;
  padding: 50px 30px;
  background-color: #fff;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  border-radius: 10px;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.15);
  display: grid;
  grid-template-columns: 5fr 7fr;
}

.editor {
  border: 1px solid rgb(230, 150, 2);
  min-height: 35vmin;
  display: flex;
  flex-direction: column;
}

.result {
  border: 1px solid rgb(77, 119, 4);
}
